.App {
  text-align: center;
}

#Image {
  max-width: 100px;
  margin-right: 20px;
}

#Title {
  font-size: 32px; 
  margin: 0;
}

#Description {
  font-size: 24px;
}

.link-btn {
  background: transparent;
  border: none;
  font-size: 21px;
  color: blue;
}